.contact {
  padding: 104px 0 120px;
  color: #222;
}

.contact__title {
  margin-bottom: 40px;
  text-align: center;
  color: #222;
  font-size: 80px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.contact__title_red {
  color: #d10014;
}

.form {
  padding: 60px;
  border-radius: 32px;
  background-color: #fff;
}

.form__fieldset {
  display: none;
  margin-bottom: 32px;
}

.form__fieldset_active {
  display: block;
}

.form__title {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.form__radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 32px;
}

.form__radio-wrapper:last-child {
  margin-bottom: 0;
}

.radio__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.radio__label {
  display: block;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: #f0f4f4;
  font-weight: 500;
  line-height: 140%;
}

.radio__label:hover {
  background-color: #e4f0f0;
  cursor: pointer;
}

.radio__input:focus-visible + .radio__label {
  border-color: #d10014;
}

.radio__input:checked + .radio__label {
  background-color: #222;
  color: #fff;
}

.form__months {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.form__btn-month {
  font-weight: 500;
  line-height: 140%;
}

.form__btn-month_active {
  color: #d10014;
  transform: scale(1.15);
}

.form__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 140%;
}

.form__input-wrapper {
  display: grid;
  row-gap: 12px;
  column-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 32px;
}

.form__input {
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #f0f4f4;
  color: inherit;
  outline: none;
}

.form__input:hover {
  background-color: #f0f4f4;
}

.form__input:focus-visible {
  border-color: #d0d0d0;
}

.form__info {
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.form__btn-wrapper {
  display: flex;
  gap: 8px;
}

.form__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  background-color: #f0f4f4;
  color: #222;
}

.form__btn_next {
  background-color: #d10014;
  color: #fff;
}

.form__btn_submit {
  background-color: #d10014;
  color: #fff;
}

.form__btn:disabled {
  color: #222;
  background: #f0f4f4;
  opacity: 0.4;
  pointer-events: none;
}

@media (max-width: 1080px) {
  .contact {
    padding-top: 60px;
  }

  .contact__title {
    font-size: 60px;
  }

  .form {
    padding: 40px;
  }

  .form__title {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 50px 0 100px;
  }

  .contact__title {
    font-size: 48px;
  }
}

@media (max-width: 660px) {
  .contact {
    padding: 50px 0 80px;
  }

  .contact__title {
    font-size: 48px;
  }

  .form {
    padding: 24px 16px;
    border-radius: 16px;
  }

  .form__input-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 460px)